In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('CSGO Player Dataset.csv')
def deaths(kdd,kdr):
    #Kill death difference
    #Kills/Death Ratio
    if(kdr!= 1):
        d = int(kdd/(kdr-1))
    else:
        d = np.nan
    return d
df['Total Deaths'] = df[['Kill Death Difference','K/D Ratio']].apply(lambda df:deaths(df['Kill Death Difference'],df['K/D Ratio']),axis=1)
df['Total Kills'] = df['Kill Death Difference'] + df['Total Deaths']
df.head(5)

,Name,Teams Played In,Number of Maps Played,Number of Rounds Played,Kill Death Difference,K/D Ratio,HLTV Rating,Total Deaths,Total Kills
0,ZywOo,"'Vitality', 'aAa'",985,25890,5999,1.38,1.27,15786.0,21785.0
1,s1mple,'Natus Vincere',1544,40788,8916,1.34,1.25,26223.0,35139.0
2,sh1ro,"'Gambit Youngsters', 'Gambit'",853,22639,5372,1.45,1.22,11937.0,17309.0
3,deko,'1WIN',382,10313,2270,1.38,1.22,5973.0,8243.0
4,saffee,"'FURIA', 'paiN'",374,9873,1936,1.32,1.21,6049.0,7985.0